<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-header collapse="condense" >
    <ion-toolbar style="display:flex; align-items:center; justify-content:center">
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="grid_main">
  <ion-grid [fixed]="true">

    <ion-row class="mt-ion-row" style="margin-bottom:6vh">
      <ion-col size="2" offsetMd='1'>
          <ion-label><h1>Login</h1></ion-label>
      </ion-col>
    </ion-row>

    <!-- TODO: add data type validators -->
    <ion-row class="ion-justify-content-center mt-ion-row">
      <ion-col size="4" size-md='2'>
        <ion-item>
          <ion-input type="" placeholder="Usuario"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center mt-ion-row">
      <ion-col size="4" size-md='2'>
        <ion-item>
          <ion-input type="email" placeholder="Email"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center mt-ion-row" style="margin-top:6vh">
      <ion-col size="4" size-md="2">
        <ion-button expand="block">Acessar</ion-button>
      </ion-col>
    </ion-row>


    <ion-row class="ion-justify-content-center">
      <ion-col size="2">
        <div style="justify-content: center; text-align:center;"><h5>ou</h5></div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="4" size-md="2">
        <ion-button expand="block">Entrar com o google</ion-button>
      </ion-col>
    </ion-row>


    <ion-row class="ion-justify-content-center">
      <ion-col size="2">
        <div style="justify-content: left; text-align:center;"><h5>Nao possui conta? <a>Cadastre-se</a></h5></div>
      </ion-col>
    </ion-row>




  </ion-grid>
  </div>


</ion-content>
